################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/KaTalk_NoAd/v15
/KaTalk_NoAd/Debug
/KaTalk_NoAd/x64/Debug
/KaTalk_NoAd/x64/Release/KaTalk_NoAd.tlog
/KaTalk_NoAd/x64/Release
/x64/Release/KaTalk_NoAd.iobj
/x64/Release/KaTalk_NoAd.ipdb
*.aps
*.user
*.pdb
/.vs/KaTalk_NoAd/v16
